<%- include('partials/header') %>

<div class="container px-0">
  <section id="project-title" class="section">
    <h3>Dự án tiêu biểu</h3>
    <h1>Xây dựng công trình bền vững</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ea vitae est id nobis ratione vel. Deserunt, quas provident ea, tempore corrupti veniam aspernatur fugiat porro ipsa ut sed ipsam.</p>
  </section>

  <section class="project-A">
    <div class="row">
      <% data.forEach(item => { %>
        <a class="col-sm" href="/house?id=<%= item.id %>">
          <div class="content">
            <div id="content-image">
              <img src="<%= item.pic1 %>" alt="<%= item.name %>" width="100%">
            </div>
            <div id="content-text">
              <h3><%= item.name %></h3>
            </div>
          </div>
        </a>
      <% }); %>
    </div>
  </section>
</div>

<%- include('partials/footer') %>
