<%- include('partials/header') %>

<div class="container">
  <!-- Home Section -->
  <section id="home" class="section">
    <h3>Dự án tiêu biểu</h3>
    <h1>Xây dựng công trình bền vững</h1>
    <% data.forEach(item => { %>
      <div class="project">
        <h2><%= item.name %></h2>
        <p>Width: <%= item.width %></p>
        <p>Length: <%= item.length %></p>
        <a href="<%= item.banve %>">View Blueprint</a>
        <div class="project-images">
          <img src="<%= item.pic1 %>" alt="Image 1" class="img-fluid">
          <img src="<%= item.pic2 %>" alt="Image 2" class="img-fluid">
          <img src="<%= item.pic3 %>" alt="Image 3" class="img-fluid">
        </div>
      </div>
    <% }); %>
  </section>
</div>

<%- include('partials/footer') %>
